.navbar_container {
  width: 220px;
  height: 100vh;
  left: -180px;
  transition: 0.3s;
  display: block;
  overflow: hidden;
  top: 0;
  position: fixed;
  padding: 0px;
  background-color: rgba(34, 34, 34, 1);
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.show-nav {
  left: 0;
}

.logo-text {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  line-height: 24px;
  text-align: left;
  display: block;
  flex-direction: column;
  justify-content: unset;
  width: unset;
  height: unset;
  gap: unset;
  align-items: unset;
  position: absolute;
  top: 40px;
  left: 29px;
  padding: 0px;
  white-space: pre-wrap;
}

.blue-text {
  color: #047d95;
}

.selections-container {
  gap: 40px;
  flex-direction: column;
  width: unset;
  height: unset;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 115px;
  left: 31px;
  padding: 0px;
}

.bullets-container {
  gap: 16px;
  display: flex;
  flex-direction: row;
  width: unset;
  height: unset;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  padding: 0px;
}

.nav-container {
  width: 18px;
  height: 18px;
  display: block;
  gap: unset;
  align-items: unset;
  justify-content: unset;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  padding: 0px;
}

.nav-text {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  line-height: 18px;
  text-align: left;
  display: block;
  flex-direction: column;
  justify-content: unset;
  width: 50px;
  height: 18px;
  gap: unset;
  align-items: unset;
  flex-shrink: 0;
  position: relative;
  padding: 0px;
}

.signout-container {
  gap: 20px;
  display: flex;
  flex-direction: row;
  width: 120px;
  height: 56px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 825px;
  left: calc(50% - 91px - 0px);
  border-radius: 10px;
}

.toggle-arrow-container {
  gap: 20px;
  display: flex;
  flex-direction: row;
  width: 120px;
  height: 56px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 140px;
}

.arrow-icon {
  width: 24px;
  height: 24px;
  display: block;
  gap: unset;
  align-items: unset;
  justify-content: unset;
  overflow: hidden;
  position: absolute;
  /* top: 25px;
  left: 211px; */
  padding: 0;
}

.user-container {
  gap: 25px;
  display: flex;
  flex-direction: row;
  width: unset;
  height: unset;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 750px;
  left: 40px;
  padding: 0;
}

.username {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 18px;
  text-align: left;
  display: block;
  flex-direction: column;
  justify-content: unset;
  width: unset;
  height: unset;
  gap: unset;
  align-items: unset;
  flex-shrink: 0;
  position: relative;
  padding: 0;
  white-space: pre-wrap;
}

.signout-alt {
  display: none;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
}
/* For medium devices */

@media screen and (max-width: 576px) {
}

/* For small devices */
/* For small devices */
@media screen and (max-width: 431px) {
  .navbar_container {
    width: 220px;
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .logo-text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    text-align: left;
    display: block;
    flex-direction: column;
    justify-content: unset;
    width: unset;
    height: unset;
    gap: unset;
    align-items: unset;
    position: absolute;
    top: 40px;
    left: 29px;
    padding: 0px;
    white-space: pre-wrap;
  }
}
