.big-post-container {
  width: 450px;
  height: 570px;
  display: block;
  gap: 0;
  align-items: unset;
  justify-content: unset;
  position: relative;
  padding: 0;
  border-radius: 40px;
  color: rgba(234, 234, 234, 1);
}

.post-container {
    width: 450px;
    height: 570px;
    display: block;
    gap: unset;
    align-items: unset;
    justify-content: left;
    overflow: hidden;
    position: absolute;
    top: 0%;
    bottom: 10.09%;
    left: 0%;
    right: 20.93%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 0;
    color: rgba(234, 234, 234, 1);
}

.thumb-container1 {
    width: 39px;
    height: 39px;
    display: block;
    gap: unset;
    align-items: unset;
    justify-content: unset;
    overflow: hidden;
    position: absolute;
    top: 495px;
    left: 46.5px;
    padding: 0;
}

.thumb-container2 {
    width: 39px;
    height: 39px;
    display: block;
    gap: unset;
    align-items: unset;
    justify-content: unset;
    overflow: hidden;
    position: absolute;
    top: 495px;
    left: 363px;
    padding: 0;
}

.post-img {
    width: 276px;
    height: 383px;
    display: block;
    gap: unset;
    align-items: unset;
    justify-content: unset;
    position: absolute;
    top: 64px;
    left: 90px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 0;
}

.more-icon {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 30px;
    left: 25px;
    display: block;
    gap: unset;
    align-items: unset;
    justify-content: unset;
    overflow: hidden;
    padding: 0;
}

.chat-icon {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 14px;
    left: 390px;
    display: block;
    gap: unset;
    align-items: unset;
    justify-content: unset;
    overflow: hidden;
    padding: 0;
}

.button1 {
    width: 56px;
    height: 56px;
    position: absolute;
    border-radius: 51px;
    top: 487px;
    left: 354px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 255, 26, 0.34);
}

.button2 {
    width: 56px;
    height: 56px;
    position: absolute;
    border-radius: 51px;
    top: 487px;
    left: 39px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 0, 0, 0.37);
}

.username-text {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 30px;
    text-align: left;
    display: block;
    flex-direction: column;
    justify-content: unset;
    width: unset;
    height: unset;
    gap: unset;
    align-items: unset;
    flex-shrink: 0;
    position: relative;
    padding: 0px;
    white-space: pre-wrap;
}